<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>jsGrid - Basic Scenario</title>
    <link rel="stylesheet" type="text/css" href="../static/jsgrid/demos/demos.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,400' rel='stylesheet' type='text/css'/>

    <link rel="stylesheet" type="text/css" href="../static/jsgrid/css/jsgrid.css" />
    <link rel="stylesheet" type="text/css" href="../static/jsgrid/css/theme.css" />

    <script src="../static/jsgrid/external/jquery/jquery-1.8.3.js"></script>
    <script src="../static/jsgrid/demos/db.js"></script>

    <script src="../static/jsgrid/src/jsgrid.core.js"></script>
    <script src="../static/jsgrid/src/jsgrid.load-indicator.js"></script>
    <script src="../static/jsgrid/src/jsgrid.load-strategies.js"></script>
    <script src="../static/jsgrid/src/jsgrid.sort-strategies.js"></script>
    <script src="../static/jsgrid/src/jsgrid.field.js"></script>
    <script src="../static/jsgrid/src/fields/jsgrid.field.text.js"></script>
    <script src="../static/jsgrid/src/fields/jsgrid.field.number.js"></script>
    <script src="../static/jsgrid/src/fields/jsgrid.field.select.js"></script>
    <script src="../static/jsgrid/src/fields/jsgrid.field.checkbox.js"></script>
    <script src="../static/jsgrid/src/fields/jsgrid.field.control.js"></script>
</head>
<body>
<h1>Basic Scenario</h1>
<div id="jsGrid"></div>

<script>
    $(function() {

        $("#jsGrid").jsGrid({
            height: "auto",
            width: "auto",
            filtering: true,
            editing: true,
            inserting: true,
            sorting: true,
            paging: true,
            autoload: true,
            pageSize: 15,
            pageButtonCount: 5,
            deleteConfirm: "Do you really want to delete the client?",
            controller: db,
            fields: [
                { name: "id", width: 150 },
                { name: "voucherId",  width: 200 },
                { name: "summary", width: 200 },
                { name: "debitAmount", type:"text", title:"借方金额", width: 200 },
                { name: "creditAmount", type:"text", title:"贷方金额", width: 200 },
                { type: "control" }
            ]
        });

    });
</script>
</body>
</html>
